@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 31, 31);
  font-family: 'Nunito', sans-serif;
}
ul li {
  list-style: none;
  margin-left: 10px;
}
.social-icon {
  margin-bottom: 0;
  align-items: center;
  justify-items: center;
}

/*---------------
  TYPOGRAPHY 
----------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h1 {
  font-size: 40px;
  font-weight: 200;
  line-height: 50px;
}
h2 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 0;
}
h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
h4 {
  color: #505050;
  font-size: 18px;
  line-height: 28px;
}
p {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.5px;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}

/*---------------
  NAV 
----------------*/
.navbar .navbar-brand {
  font-weight: normal;
  font-size: 25px;
}

/*---------------
  HERO
----------------*/
.first-text h2 {
  color: chocolate;
  font-weight: 500;
}
.first-text h1 {
  color: #fff;
  font-weight: 500;
}
.sosmed .icn {
  font-size: 1.5rem;
  color: #fff;
}
.sosmed .tombol {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background-color: chocolate;
}
#home a {
  color: #fff;
  font-size: 14px;
}

/*----------------------
  PROJECTS
-----------------------*/
#projects a {
  color: #fff;
}
#projects h1 {
  color: #fff;
  font-weight: 500;
}
#projects .container .row icn2 {
  color: #fff;
  text-decoration: none;
}

/*----------------------
  HIRE ME
-----------------------*/
#hire .hire-me {
  margin-top: -100px;
  background-color: rgb(53, 53, 53);
}
#hire .hire-me h1 {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

#hire .hire-me .tombol {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background-color: chocolate;
}

#hire .hire-me .btn {
  margin-left: 465px;
}

/*----------------------
  SERVICE
-----------------------*/
#service h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}
#service .feature .card {
  background-color: transparent;
  border: 0;
  color: #fff;
}
#service .feature .card img {
  margin-left: 3.8em;
  margin-bottom: 1em;
  border-radius: 100%;
  height: 156px;
  width: 171px;
}
#service .container-fluid {
  margin-top: 110px;
  background-color: rgb(39, 39, 39);
  height: 300px;
}
#service .container-fluid .single-item {
  position: relative;
  top: -60px;

  height: 380px;
}
#service .container-fluid .single-item .customer img {
  margin-left: 70px;
}
#service .container-fluid .single-item .customer .gambar {
  float: left;
}
#service .container-fluid .single-item .customer .text-customer {
  margin-top: 127px;

  float: left;
}
.single-item .customer .text-customer p {
  font-size: 16px;
}
.single-item .customer .text-customer h5 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0;
  color: #fff;
}

/*----------------------
  TOOLS
-----------------------*/
#tools h5 {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

/*----------------------
  RESPONSIVE BREAKPOINTS
-----------------------*/
@media only screen and (max-width: 500px) {
  #home .foto-profil {
    width: 100%;
  }
  #home .first-text {
    margin-top: 30px;
  }
  #hire .hire-me {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  #hire .hire-me h1 {
    font-size: 1.3em;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  #hire .hire-me .btn {
    margin-left: 0;
  }
  #hire .hire-me .tombol {
    margin-left: 30px;
  }
  #service .feature .card img {
    margin-left: 5.8em;
    margin-bottom: 1em;
    border-radius: 100%;
    height: 156px;
    width: 171px;
  }
  #tools {
    margin-top: 250px;
  }
  #tools img {
    width: 15%;
  }
}
